<div class="legend">
  <div class="legend-item">
    <h4>Máscara</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img src="assets/images/png/required-mask.png" alt="Ícone de cor verde, com um ponto de exclamação ao lado, mostrando uma pessoa usando uma máscara de proteção do nariz e boca." />
        <span>Obrigatório</span>
      </div>
      <div class="legend-image">
        <img src="assets/images/png/recommended-mask.png" alt="Ícone de cor cinza mostrando uma pessoa usando uma máscara de proteção do nariz e boca." />
        <span>Recomendado</span>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Toalha</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img src="assets/images/png/required-towel.png" alt="Ícone de uma toalho de cor verde com um ponto de exclamação ao lado." />
        <span>Obrigatório</span>
      </div>
      <div class="legend-image">
        <img src="assets/images/png/recommended-towel.png" alt="Ícone de uma toalho de cor cinza." />
        <span>Recomendado</span>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Bebedouro</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img src="assets/images/png/partial-fountain.png" alt="Ícone de uma garrafa de água de cor amarela." />
        <span>Parcial</span>
      </div>
      <div class="legend-image">
        <img src="assets/images/png/not_allowed-fountain.png" alt="Ícone de uma garrafa de água de cor vermelha." />
        <span>Proibido</span>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Vestiários</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img src="assets/images/png/allowed-lockerroom.png" alt="Ícone de um cabide de roupas de cor verde." />
        <span>Liberado</span>
      </div>
      <div class="legend-image">
        <img src="assets/images/png/partial-lockerroom.png" alt="Ícone de um cabide de roupas de cor amarela." />
        <span>Parcial</span>
      </div>
      <div class="legend-image">
        <img src="assets/images/png/closed-lockerroom.png" alt="Ícone de um cabide de roupas de cor vermelha." />
        <span>Fechado</span>
      </div>
    </div>
  </div>
</div>
